@{
    ViewData["Title"] = "TextBox";
}

<h2>Text Box</h2>

<form method="post">
    <input type="text" name="TB" /><br />
    <br />
    <input class="btn btn-primary col-md-auto" style="display: inline" type="submit" value="Save" />
</form>