
@{
    ViewData["Title"] = "TextArea";
}

<h2>Text Area</h2>

<form method="post">
    <textarea name="TA"></textarea><br />
    <br />
    <input class="btn btn-primary col-md-auto" style="display: inline" type="submit" value="Save" />
</form>